@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.woff"), url("../fonts/OpenSans-Regular.woff2");
}

@font-face {
  font-family: 'OpenSans-bold';
  src: url("../fonts/OpenSans-Bold.woff"), url("../fonts/OpenSans-Bold.woff2");
}

@font-face {
  font-family: 'OpenSans-extrabold';
  src: url("../fonts/OpenSans-ExtraBold.woff"), url("../fonts/OpenSans-ExtraBold.woff2");
}

body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'OpenSans';
  color: #282528;
  font-size: 16px;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

body a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.first-screen {
  height: 100vh;
  position: relative;
}

@media screen and (max-width: 980px) {
  .first-screen {
    height: calc(593px);
  }
}

.first-screen_bg {
  opacity: 0;
  -webkit-transition: opacity 2s ease 0s;
  transition: opacity 2s ease 0s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  max-width: 100%;
}

@media screen and (max-width: 980px) {
  .first-screen_bg {
    height: calc(593px);
  }
}

.first-screen .bg1 {
  background: #48d7d7;
}

.first-screen .bg2 {
  background: #dd529f;
}

.first-screen .bg3 {
  background: url(../img/front-page__slide3.png) no-repeat center/cover;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 430px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 380px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 320px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  padding-top: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header.sticky-header {
  padding-top: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 480px) {
  .header {
    padding-top: 0;
  }
}

.site-header {
  background-color: #fff;
  height: 93px;
  padding: 0 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.22);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.22);
}

@media screen and (max-width: 760px) {
  .site-header {
    height: 73px;
  }
}

@media screen and (max-width: 480px) {
  .site-header {
    padding: 0 15px;
  }
}

.site-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #fff;
}

.site-header_nav {
  max-width: 780px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  z-index: 5;
}

.site-header_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 5px;
}

.site-header_nav ul li .black {
  color: #282528;
}

.site-header_nav ul li a {
  color: #969596;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'OpenSans-bold';
  margin: 0 2px;
}

.site-header_nav ul li a:hover {
  color: #f69e00;
}

@media screen and (max-width: 980px) {
  .site-header_nav ul li a {
    font-size: 36px;
  }
}

@media screen and (max-width: 760px) {
  .site-header_nav ul li a {
    font-size: 28px;
  }
}

@media screen and (max-width: 980px) {
  .site-header_nav ul li {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 980px) {
  .site-header_nav ul {
    display: list-item;
    text-align: center;
    padding-top: 130px;
  }
}

@media screen and (max-width: 980px) {
  .site-header_nav {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: calc(-100% - 130px);
    background: #9be2df;
    max-width: 100%;
    z-index: 3;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .site-header_nav.active {
    top: 0;
  }
}

.site-header_logo {
  margin-right: 5px;
  height: 60%;
  z-index: 5;
  width: inherit;
}

.site-header_logo img {
  height: 100%;
}

.site-header_tel {
  color: #282528;
  font-size: 23px;
  font-family: 'OpenSans-bold';
  text-align: right;
  z-index: 6;
}

@media screen and (max-width: 1080px) {
  .site-header_tel {
    font-size: 18px;
  }
}

@media screen and (max-width: 980px) {
  .site-header_tel {
    margin-left: auto;
    font-size: 23px;
  }
}

@media screen and (max-width: 590px) {
  .site-header_tel {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .site-header_tel {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .site-header_tel {
    margin-bottom: 5px;
  }
}

.site-header_menu-burger {
  width: 30px;
  height: 20px;
  position: relative;
  margin-left: 30px;
  display: none;
  z-index: 6;
  cursor: pointer;
}

@media screen and (max-width: 590px) {
  .site-header_menu-burger {
    margin-left: 15px;
  }
}

@media screen and (max-width: 480px) {
  .site-header_menu-burger {
    height: 16px;
    width: 25px;
  }
}

@media screen and (max-width: 380px) {
  .site-header_menu-burger {
    margin-bottom: 5px;
  }
}

.site-header_menu-burger .menu-burger_line {
  width: 100%;
  height: 2px;
  background: #969596;
  display: block;
  position: absolute;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media screen and (max-width: 480px) {
  .site-header_menu-burger .menu-burger_line {
    top: 7px;
  }
}

.site-header_menu-burger::before, .site-header_menu-burger::after {
  width: 100%;
  height: 2px;
  background: #969596;
  display: block;
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.site-header_menu-burger::before {
  top: 0;
}

.site-header_menu-burger::after {
  bottom: 0;
}

.site-header_menu-burger.active .menu-burger_line {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.site-header_menu-burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

@media screen and (max-width: 480px) {
  .site-header_menu-burger.active::before {
    top: 7px;
  }
}

.site-header_menu-burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

@media screen and (max-width: 480px) {
  .site-header_menu-burger.active::after {
    bottom: 7px;
  }
}

@media screen and (max-width: 980px) {
  .site-header_menu-burger {
    display: block;
  }
}

.main {
  height: calc(100vh - 20px - 93px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  color: #fff;
  text-transform: uppercase;
  padding-top: calc(113px);
  position: relative;
}

@media screen and (max-width: 980px) {
  .main {
    height: 500px;
    padding-top: 93px;
    text-shadow: 2px 2px 0 grey;
  }
}

@media screen and (max-width: 480px) {
  .main {
    padding-top: 73px;
  }
}

.main_bg {
  opacity: 0;
  -webkit-transition: opacity 2s ease 0s;
  transition: opacity 2s ease 0s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  height: calc(100vh - 20px - 93px);
  top: calc(113px);
}

@media screen and (max-width: 590px) {
  .main_bg {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .main_bg {
    height: 500px;
    top: 93px;
  }
}

.main .mbg1 {
  background: url(../img/front-page__slide1.png) no-repeat 90% 85%/contain;
}

.main .mbg2 {
  background: url(../img/front-page__slide2.png) no-repeat 90% 100%/contain;
}

.main_text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 590px) {
  .main_text {
    width: calc(100% - 30px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main_contact {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 40px;
}

@media screen and (max-width: 860px) {
  .main_contact {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 760px) {
  .main_contact {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 590px) {
  .main_contact {
    width: calc(100% - 30px);
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main_title {
  font-size: 94px;
  line-height: 92px;
  font-family: 'OpenSans-extrabold';
  margin-bottom: 20px;
}

@media screen and (max-width: 980px) {
  .main_title {
    font-size: 62px;
  }
}

@media screen and (max-width: 380px) {
  .main_title {
    font-size: 52px;
  }
}

.main_title__text-big {
  font-size: 124px;
}

@media screen and (max-width: 980px) {
  .main_title__text-big {
    font-size: 108px;
  }
}

@media screen and (max-width: 760px) {
  .main_title__text-big {
    font-size: 92px;
  }
}

@media screen and (max-width: 380px) {
  .main_title__text-big {
    font-size: 82px;
  }
}

.main_subtitle {
  font-size: 28px;
  text-transform: none;
  margin-bottom: 50px;
}

@media screen and (max-width: 980px) {
  .main_subtitle {
    font-size: 23px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 760px) {
  .main_subtitle {
    font-size: 20px;
  }
}

.main_btn {
  font-family: 'OpenSans-extrabold';
  font-size: 34px;
  text-align: center;
  width: 380px;
  height: 87px;
  line-height: 87px;
  border-radius: 38px;
  -webkit-box-shadow: 0 5px 0 #298624, inset 0 5px 5px rgba(247, 235, 151, 0.66);
          box-shadow: 0 5px 0 #298624, inset 0 5px 5px rgba(247, 235, 151, 0.66);
  border: 1px solid #4db848;
  background-color: #4db848;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#55dd49), to(#3da139));
  background-image: linear-gradient(to bottom, #55dd49 0%, #3da139 100%);
}

@media screen and (max-width: 980px) {
  .main_btn {
    font-size: 28px;
    width: 270px;
    height: 69px;
    line-height: 67px;
    border-radius: 24px;
  }
}

@media screen and (max-width: 860px) {
  .main_btn {
    font-size: 26px;
    width: 270px;
    height: 69px;
    line-height: 67px;
    border-radius: 24px;
  }
}

.main_btn .unvisible {
  display: none;
  font-size: 26px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 980px) {
  .main_btn .unvisible {
    font-size: 20px;
  }
}

.main_btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5df24f), to(#40ad3c));
  background-image: linear-gradient(180deg, #5df24f 0%, #40ad3c 100%);
  border: 1px solid #5df24f;
  cursor: pointer;
}

.main_btn:hover .unvisible {
  display: block;
}

.main_btn:hover .visible {
  display: none;
}

.main_arr {
  height: 40px;
  width: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  opacity: 0.7;
  display: block;
  cursor: pointer;
}

.main_arr__left {
  width: 4px;
  height: 20px;
  background: #fff;
  position: absolute;
  top: 11px;
  left: 24px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main_arr__right {
  width: 4px;
  height: 20px;
  background: #fff;
  position: absolute;
  top: 11px;
  right: 24px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 760px) {
  .main_arr {
    display: none;
  }
}

.main_ico a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 15px;
}

.main_ico__vk {
  background: #3788c6 url(../img/vk-brands.svg) no-repeat center/65%;
}

.main_ico__youtube {
  background: #d71c25 url(../img/youtube-brands.svg) no-repeat center/60%;
}

.main_ico__inst {
  background: #d5ae23 url(../img/instagram-brands.svg) no-repeat center/60%;
}

.what-is-ed {
  padding-top: 135px;
}

@media screen and (max-width: 860px) {
  .what-is-ed {
    padding-top: 100px;
  }
}

@media screen and (max-width: 590px) {
  .what-is-ed {
    padding-top: 80px;
  }
}

.what-is-ed_title {
  font-family: 'OpenSans-bold';
  text-align: center;
  text-transform: uppercase;
  color: #282528;
  font-size: 28px;
  margin-bottom: 115px;
}

.what-is-ed_title::before {
  height: 1px;
  max-width: 60px;
  min-width: 25px;
  background-color: #535b64;
  content: '';
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 25px;
}

@media screen and (max-width: 480px) {
  .what-is-ed_title::before {
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 430px) {
  .what-is-ed_title::before {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .what-is-ed_title::before {
    margin-right: 15px;
  }
}

.what-is-ed_title::after {
  height: 1px;
  max-width: 60px;
  min-width: 25px;
  background-color: #535b64;
  content: '';
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 25px;
}

@media screen and (max-width: 480px) {
  .what-is-ed_title::after {
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 430px) {
  .what-is-ed_title::after {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .what-is-ed_title::after {
    margin-left: 15px;
  }
}

@media screen and (max-width: 860px) {
  .what-is-ed_title {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 590px) {
  .what-is-ed_title {
    font-size: 24px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 480px) {
  .what-is-ed_title {
    font-size: 20px;
  }
}

.what-is-ed_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0 35px;
}

@media screen and (max-width: 860px) {
  .what-is-ed_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 430px) {
  .what-is-ed_main {
    padding: 0;
  }
}

.what-is-ed_item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 980px) {
  .what-is-ed_item {
    width: 32%;
  }
}

@media screen and (max-width: 860px) {
  .what-is-ed_item {
    width: 65%;
    margin-bottom: 40px;
  }
  .what-is-ed_item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 590px) {
  .what-is-ed_item {
    width: 90%;
  }
}

@media screen and (max-width: 430px) {
  .what-is-ed_item {
    width: 100%;
  }
}

.what-is-ed_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (max-width: 860px) {
  .what-is-ed_items:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 430px) {
  .what-is-ed_items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.what-is-ed_items img {
  margin-right: 30px;
  display: block;
  max-width: 50px;
}

@media screen and (max-width: 430px) {
  .what-is-ed_items img {
    margin-bottom: 20px;
  }
}

.what-is-ed_items__text {
  font-size: 16px;
  width: calc(100% - 50px - 30px);
}

.what-is-ed_items__text p {
  font-size: 22px;
  font-family: 'OpenSans-bold';
  margin-bottom: 20px;
  line-height: 24px;
}

.what-is-ed_items__text ul > li {
  line-height: 24px;
  list-style-type: disc;
  margin-left: 20px;
}

@media screen and (max-width: 430px) {
  .what-is-ed_items__text ul > li {
    text-align: left;
    margin-left: 14%;
  }
}

.what-is-ed_items__text .text-lighter {
  font-size: 13px;
  color: #a8a8a8;
}

@media screen and (max-width: 430px) {
  .what-is-ed_items__text {
    text-align: center;
  }
}

.what-is-ed .bg {
  display: block;
  width: 40%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 980px) {
  .what-is-ed .bg {
    width: 35%;
  }
}

@media screen and (max-width: 860px) {
  .what-is-ed .bg {
    width: 50%;
  }
}

.ed-is-simple {
  padding-top: 135px;
  text-align: center;
}

@media screen and (max-width: 860px) {
  .ed-is-simple {
    padding-top: 100px;
  }
}

@media screen and (max-width: 590px) {
  .ed-is-simple {
    padding-top: 80px;
  }
}

.ed-is-simple_title {
  font-family: 'OpenSans-bold';
  font-size: 57px;
  text-transform: uppercase;
}

@media screen and (max-width: 760px) {
  .ed-is-simple_title {
    font-size: 42px;
  }
}

@media screen and (max-width: 480px) {
  .ed-is-simple_title {
    font-size: 32px;
  }
}

.ed-is-simple_subtitle {
  font-size: 33px;
  margin-bottom: 50px;
}

@media screen and (max-width: 760px) {
  .ed-is-simple_subtitle {
    font-size: 28px;
  }
}

@media screen and (max-width: 480px) {
  .ed-is-simple_subtitle {
    font-size: 24px;
  }
}

.ed-is-simple_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 760px) {
  .ed-is-simple_item {
    max-width: 70%;
    margin: 0 auto;
  }
}

.ed-is-simple_items {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(19.16667% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 115px;
  position: relative;
}

@media screen and (max-width: 760px) {
  .ed-is-simple_items {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 760px) and (max-width: 760px) {
  .ed-is-simple_items {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 480px) {
  .ed-is-simple_items {
    width: calc(58.33333% - 30px);
  }
}

.ed-is-simple_items .items-img {
  width: 80%;
  margin: auto 0 20px 0;
  display: block;
}

.ed-is-simple_items .items-text {
  margin-top: auto;
  font-size: 24px;
  font-family: 'OpenSans-bold';
}

@media screen and (max-width: 480px) {
  .ed-is-simple_items .items-text {
    font-size: 18px;
  }
}

.ed-is-simple_items::after {
  content: url(../img/main__ed-is-simple_arrow.png);
  display: block;
  position: absolute;
  top: 40%;
  right: -12%;
}

@media screen and (max-width: 320px) {
  .ed-is-simple_items::after {
    right: -30%;
  }
}

.ed-is-simple_items:last-child::after {
  content: none;
}

.slider-stars {
  text-align: center;
  padding-top: 95px;
  background: #fafafa;
  padding-bottom: 70px;
}

@media screen and (max-width: 760px) {
  .slider-stars {
    padding-top: 75px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 590px) {
  .slider-stars {
    padding-bottom: 30px;
  }
}

.slider-stars_title {
  font-size: 57px;
  color: #282528;
  font-family: 'OpenSans-bold';
  text-transform: uppercase;
}

@media screen and (max-width: 760px) {
  .slider-stars_title {
    font-size: 48px;
  }
}

@media screen and (max-width: 590px) {
  .slider-stars_title {
    font-size: 36px;
  }
}

@media screen and (max-width: 480px) {
  .slider-stars_title {
    font-size: 28px;
  }
}

.slider-stars_img {
  height: 95px;
  padding: 40px 0;
}

@media screen and (max-width: 860px) {
  .slider-stars_img {
    height: 80px;
    padding: 30px 0;
  }
}

@media screen and (max-width: 480px) {
  .slider-stars_img {
    height: 60px;
    padding: 20px 0;
  }
}

.slider-stars_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-stars_arr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(12.5% - 30px);
  padding-top: 20%;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 760px) {
  .slider-stars_arr {
    display: none;
  }
}

.slider-stars_arr img {
  width: 20px;
}

.slider-stars_arr:hover {
  opacity: 0.7;
}

.slider-stars_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(75% - 30px);
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

@media screen and (max-width: 760px) {
  .slider-stars_item {
    width: calc(91.66667% - 30px);
  }
}

.slider-stars_review {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.slider-stars_review__text {
  text-align: left;
  width: 100%;
}

.slider-stars_review__text p {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 36px;
  color: #282528;
}

@media screen and (max-width: 760px) {
  .slider-stars_review__text p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .slider-stars_review__text p {
    font-size: 16px;
    line-height: 28px;
  }
}

.slider-stars_review__photo {
  width: 171px;
  height: 171px;
  border-radius: 50%;
  border: 4px solid #4db848;
  margin-bottom: 45px;
  overflow: hidden;
}

@media screen and (max-width: 430px) {
  .slider-stars_review__photo {
    width: 150px;
    height: 150px;
  }
}

.slider-stars_review__photo img {
  width: 101%;
}

.slider-stars_review__name {
  font-size: 23px;
  font-family: 'OpenSans-bold';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

@media screen and (max-width: 760px) {
  .slider-stars_review__name {
    width: calc(66.66667% - 30px);
  }
}

@media screen and (max-width: 480px) {
  .slider-stars_review__name {
    width: calc(83.33333% - 30px);
  }
}

@media screen and (max-width: 480px) {
  .slider-stars_review__name {
    font-size: 20px;
  }
}

.slider-stars_review__prof {
  font-size: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  margin-bottom: 30px;
}

@media screen and (max-width: 760px) {
  .slider-stars_review__prof {
    width: calc(66.66667% - 30px);
  }
}

@media screen and (max-width: 480px) {
  .slider-stars_review__prof {
    width: calc(91.66667% - 30px);
  }
}

.slider-stars_dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 760px) {
  .slider-stars_dots {
    display: none;
  }
}

.slider-stars_dots__item {
  width: 10px;
  height: 10px;
  background-color: #d0cfd0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  display: inline-block;
}

.slider-stars_dots__item.dot-active {
  border: 2px solid #282528;
  width: 12px;
  height: 12px;
  background-color: #fff;
}

.video {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: none;
}

.footer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 30px 70px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 860px) {
  .footer_item {
    padding: 80px 30px 50px 30px;
  }
}

@media screen and (max-width: 590px) {
  .footer_item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .footer_item {
    padding: 50px 30px 30px 30px;
  }
}

.footer_logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
}

@media screen and (max-width: 1080px) {
  .footer_logo {
    width: calc(27.5% - 30px);
  }
}

@media screen and (max-width: 980px) {
  .footer_logo {
    width: calc(33.33333% - 30px);
  }
}

@media screen and (max-width: 760px) {
  .footer_logo {
    width: calc(45.83333% - 30px);
  }
}

@media screen and (max-width: 590px) {
  .footer_logo {
    width: calc(75% - 30px);
  }
}

@media screen and (max-width: 590px) {
  .footer_logo {
    margin-bottom: 30px;
  }
}

.footer_logo__text {
  font-size: 13px;
  line-height: 24px;
  color: #969596;
}

.footer_copyright {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  font-size: 13px;
}

@media screen and (max-width: 1080px) {
  .footer_copyright {
    width: calc(27.5% - 30px);
  }
}

@media screen and (max-width: 980px) {
  .footer_copyright {
    width: calc(33.33333% - 30px);
  }
}

@media screen and (max-width: 760px) {
  .footer_copyright {
    width: calc(45.83333% - 30px);
  }
}

@media screen and (max-width: 590px) {
  .footer_copyright {
    width: calc(75% - 30px);
  }
}

.footer_social-media {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 760px) {
  .footer_social-media {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
}

.footer_social-media__icon {
  display: block;
  background-color: #e3e2e3;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.footer_social-media__icon:nth-child(2n) {
  margin: 0 20px;
}

@media screen and (max-width: 860px) {
  .footer_social-media__icon {
    width: 46px;
    height: 46px;
  }
}

@media screen and (max-width: 380px) {
  .footer_social-media__icon {
    width: 40px;
    height: 40px;
  }
}

.footer_social-media .vk {
  background-image: url(../img/vk-brands.svg);
}

.footer_social-media .youtube {
  background-image: url(../img/youtube-brands.svg);
}

.footer_social-media .inst {
  background-image: url(../img/instagram-brands.svg);
  background-size: 50%;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(217, 217, 80, 0.8);
  top: 0;
  left: 0;
  display: none;
  z-index: 1000;
  color: #298624;
}

.popup_title {
  font-size: 20px;
  font-family: 'OpenSans-extrabold';
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.popup_window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
}

.popup_content {
  background: #fff;
  max-width: 475px;
  padding: 50px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .popup_content {
    max-width: 100%;
    width: 100%;
  }
}

.popup_close {
  display: block;
  position: absolute;
  font-size: 20px;
  right: 5%;
  top: 25px;
  cursor: pointer;
}

.popup_close:hover {
  color: #f69e00;
}

.form_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

@media screen and (max-width: 430px) {
  .form_line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form_line__title {
  font-size: 18px;
  color: #298624;
  font-family: 'OpenSans-bold';
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 480px) {
  .form_line__title {
    font-size: 16px;
    line-height: 29px;
  }
}

@media screen and (max-width: 430px) {
  .form_line__title {
    margin-bottom: 5px;
  }
}

.form_line__input {
  min-width: 200px;
  margin-left: 20px;
}

@media screen and (max-width: 480px) {
  .form_line__input {
    margin-left: 10px;
  }
}

@media screen and (max-width: 430px) {
  .form_line__input {
    margin-left: 0;
    height: 30px;
  }
}

.form_line__input:focus {
  outline: 2px solid #f69e00;
}

.form_btn {
  background: #298624;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  display: block;
  margin: 20px auto 0 auto;
}

.form_btn:hover {
  background: #f69e00;
}

.bg-active {
  opacity: 1;
}

.slider-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.active-popup {
  display: block;
}

.lock {
  overflow: hidden;
}

.err {
  outline: 2px solid red;
}

.btn-disabled {
  background: #969596;
  cursor: unset;
}

.btn-disabled:hover {
  background: #969596;
}
/*# sourceMappingURL=style.css.map */